ul{border:0; margin-left: 35%; padding:2%;}

#pagination{

}
#pagination li{
	border:0; margin:0; padding:0;
	font-size:14px;
	list-style:none;
}
#pagination li, #pagination a{
	margin-right:2px;
}
#pagination .active a{
	color:  #8B0000;
	border : thin solid #FFB6C1;
	font-weight: bold;
	float:left;
	padding:4px 6px;
}
#pagination .inactive{
	border : thin solid gray;
	color: gray;
	float:left;
	padding:4px 6px;
}
#pagination .notactive a{
	border : thin solid #8B0000;
	color: #8B0000;
	float:left;
	padding:4px 6px;
}
#pagination a:link,
#pagination a:visited {
	float:left;
	padding:3px 6px;
	text-decoration:none;
	color: #8B0000;
}
#pagination a:hover{
	text-decoration:none;
	border: thin solid #FFB6C1;
}