#pagination {
    margin-left: 500px;
}

#pagination li {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 11px;
	list-style: none;
}

#pagination li,#pagination a {
	margin-right: 2px;
}

#pagination .off {
	color: #888888;
	display: block;
	float: left;
	font-weight: bold;
	padding: 3px 4px;
}

#pagination .next a {
	font-weight: bold;
}

#pagination .active {
	color: #49AFD0;
	font-weight: bold;
	display: block;
	float: left;
	padding: 1px 6px;
}

#pagination a:link,#pagination a:visited {
	color: #49AFD0;
	display: block;
	float: left;
	padding: 3px 6px;
	text-decoration: none;
}

#pagination a:hover {
	text-decoration: none;
}