.bookBody{
	background-color: #FAFAD2;
	margin: 3%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	text-align: center;
}
.bookBody p{
	text-align: center;
	font-family: "Comic Sans MS";
	font-size: 18px;	
	font-weight: bold;
	padding-top: 2%;
	padding-bottom: 2%;
}

.bookBody table{
	font-family: "Comic Sans MS";
	font-size: 14px;	
	font-weight: bold;
	border: #FFB6C1 groove;
}

.bigField{
	width : 20%;
	border: #FFB6C1 groove;
}
.mediumField{
	width : 10%;
	border: #FFB6C1 groove;
}
.smallField{
	width : 6%;
	border: #FFB6C1 groove;
}
.edit{
	width : 3%;
	background-color: #FFB6C1;
}


.headrow{
	background-color: #FFB6C1;
}

.buttons{
	padding-top:2%;
}
.buttons a{
	margin-right: 3%;
	text-decoration: none;
	background-color:transparent;
	border: maroon;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #8B0000;
}


