.publisherBody{
	text-align: center;
	width: 100%;
	float: left;
	background: url("../pictures/imagesp.jpg") repeat scroll;
}
.contentPublisher{
	text-align: center;
	float: left;
	width:92%;
	background: #FAFAD2;
	margin: 55px;
}
.tablePub{
	float: left;
	padding-left: 500px;
}
.tabelPublisher{
	border-left: #8B0000 solid;
	border-right: #8B0000 solid;
	border-top: #8B0000 solid;
}